.NavBar {
  display: block;
  height: 25vh;
  /* width: 100vw; */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(203, 209, 209);
  box-shadow: 0 14px 28px rgba(34, 77, 141, 0.25),
    0 10px 10px rgba(33, 89, 209, 0.22);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  }

.NavBarLogo {
  height: 7.5vw;
  width: 7.5vw;
  /* padding-top: 2vh; */
  margin-top: 2.3vh;
  /* margin-left: 25px; */
  /* height: 10vh; */
  margin-left: 2.4vw;
  margin-right: 10vw;
  margin-bottom: 1.5vh;
}

.NavBarLogo:hover {
  cursor: pointer;
}

.NavBarIcon {
  margin-right: 2vw;
  height: 5vh;
  width: 2.3vw;
  color: rgb(66, 73, 73);
}

.NavBar1 {
  display: flex;
  box-shadow: 0 14px 28px rgba(114, 56, 56, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  /* height: 100; */
}

.NavBar1_Icons {
  width: 10vw;
  margin-right: 3vw;
  height: 5vh;
  margin-left: 5vw;
  display: inline;
}

.NavBarIcon:hover {
  border-radius: 10px;
  /* height: 35px;
  width: 35px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.22),
  0 14px 28px rgba(0, 0, 0, 0.22),
  0 14px 28px rgba(0, 0, 0, 0.22),
    0 10px 10px rgba(0, 0, 0, 0.22);
 
  cursor: pointer;
}

.searchField {
  border-radius: 15px;
  width: 50vw;
  display: inline;
  margin-right: 0.5vw;
  height: 5.1vh;
}

.searchButton {
  font-size: 1vw;
  width: 6vw;
  border-radius: 15px;
  border-width: 0.2vw;
  font-weight: bold;
  margin-bottom: 0.1vh;
}

.navBarButtons:hover {
  border-color: rgb(102, 149, 238);
  background-color: rgb(102, 149, 238);
  color: black;
}

.navBarButtons {
  color: black;
  font-weight: bold;
  border-color: rgb(203, 209, 209);
  background-color: rgb(203, 209, 209);
  margin-left: 8vw;
  margin-right: 4vw;
  font-size: 1.3vw;
  color: rgb(43, 18, 133);
  margin-top: -0.6vh;
  height: 5.5vh;
}
