.add-portfolio-container {
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 0 4px #cccccc;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    z-index: 2;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 14px;
  }
  
  .submit-button {
    height: 40px;
    width: 100%;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }
  