.HomePageTables {
  margin-top: 5vh;
  display: block;
  width: 30vw;
  overflow-y: scroll;
}

.BelowNavBar {
  display: flex;
  overflow: hidden;
}

.NewsDiv{
  width: 70vw;
  
}

.scrollable-area {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
}

.HomePageTableNames{
  font-weight: 800;
  color: rgb(57, 47, 198);
}

.HomePageStockNames {
  color: rgb(43, 43, 175);
  font-weight: 500;
  text-decoration: none;
}

.HomePageStockNames:hover{
  font-weight: 600;
}




